.container{
    background-color: white;
    width: auto;
    max-width:1200px;
    margin: 20px 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content:space-around;

    
}

.black{
    background-color: black;
}
.Header{
    height: auto;
    top: 0%;
    margin-bottom: 20px;
}
.h-top{
    height: 50px;
    background-color: #2d4059;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr ;
    margin: 20px 20px 10px 20px;
    justify-content: space-around;
    gap: 20px;
    grid-template-areas: ' div1 div2 div3 ';
    
}
.div1{
    grid-area: div1;
    margin-left: 20px;
}
.div2{
    grid-area: div2;
}
.div3{
    grid-area: div3;
    margin-right: 20px;
}
.h-top  div{
    height: 20px;
    width:auto;
    align-self: center;
    background-color: #ea5455;
}
.h-low{
    height: 50px;
    background-color: #f07b3f;
    margin: 0px 20px 20px 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-low div{
    margin: 0px 20px;
    height: 20px;
    width: 100%;
    background-color: #fed460;
}
.Body{
    height: 175px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr ;
    align-items: center;
    justify-content: center;
    gap: 20px;
    
}

.b-left{
    width: auto;   
    height: auto;
    background-color: #4e4e6a;
    margin-left: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
}
.l-top{
    height: 20px;
    width: auto;
    background-color: #1f6cb0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}
.l-low{ 
    height: 20px;
    width: auto;
    background-color: #1f6cb0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;}
.r-top{ 
    height: 20px;
    width: auto;
    background-color: #1f6cb0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;}
.r-low{
    height: 20px;
    width: auto;
    background-color: #1f6cb0;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 2;
}
.c-low{
    height: 20px;
    width: auto;
    background-color: #70a3c4;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 3;
}
.b-right{
    margin-right: 20px;
    width: auto;
    height: auto;
    background-color:  #f73f52;
    display: grid;
    gap: 10px;
    grid-template-rows: repeat(2,1fr);
    padding-bottom: 50px;
}
.b-right div{
    height: 20px;
    width: auto;
    background-color: #feea85;
    margin-right: 20px;
    margin-left: 20px;
}
.b-right div:first-child{
    margin-top: 20px;
}
Footer{
    color: #666565;
    height: 40px;
    margin: 10px 80px 0 80px;
background-color: #d8d7d7;
}

Footer div{
    padding: 11px 0;
    margin: 0 10px;
    background-color: #f5f1f1;
    text-align: center;
}
footer div>h4{
    padding: auto;
    display: inline;
}

@media (min-width: 768px) and (max-width: 1024px) {
  
   .Body {
    height: auto;
    background-color: #feff03;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    justify-content: center;
}
.b-left {
    margin: 20px 20px 0;
    grid-row-start: 1;
    grid-row-end: 2;
}
.b-right {
    margin: 0 20px 20px;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 0;
}
    
  }

  @media (min-width: 172px) and (max-width: 767px) {
  
   .h-top{
    height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding: 20px;
   }
   .h-top div{
    width: 100%;
    margin: auto;
   }
    .Body{
        height: auto;
    background-color: #fee228;
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
    justify-content: center;
    }

    .b-left {
        background-color: #09506f;
        margin: 20px 20px 0;
        grid-row-start: 1;
        grid-row-end: 2;
        padding: 20px;
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: repeat(5,1fr);
        gap: 20px 0;
    }
    .b-right {
        margin: 0 20px 20px;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0;
    }

    .l-top{
        background-color: #61959c;
        grid-row: 1;
    }
    .l-low{
        background-color: #61959c;
        grid-row: 2;
    }
    .r-top{
        background-color: #61959c;
       grid-column-start: 1;
       grid-row: 3;}
    .r-low{
        background-color: #61959c;
        grid-column-start: 1;
        grid-row: 4;
    }
    .c-low{
        background-color: #a3ddcb;
        grid-row: 5;
    }

    .b-right{
        background-color: #fd7b54;
    }
    .b-right div{
        background-color: #fdb36b;
    }

    .Footer div{
        background-color: #fdc764;
    }
  }

